name: Sync Upstream

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

concurrency:
  group: sync-upstream-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sync:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync fork with upstream
        uses: repo-sync/github-sync@v2
        with:
          source_repo: nikhilbadyal/docker-py-revanced
          source_branch: main
          destination_branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
